<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=OnPremServer;Database=MercuryHealthDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="connectionString" value="Server=OnPremServer;Database=MercuryHealthDB;Trusted_Connection=True" />
		<add key="uploadFolder" value="C:\UploadShare"/>
		<add key="debug" value="false"/>
	</appSettings>
</configuration>